@CHARSET "UTF-8";
body{
	background-color=green;
	font-sizw:14px;
}
#loginForm{
	width:380px;
	height:230px;
	background-color:beige;
	margin:200px auto;
	padding-top:30px;
	border:1px solid #ccc;
	border-radius:1em;
}
#loginFonm p{
	text-indent:45px;
}
#userName,
#password,
#vcode{
	height:30px;
	border:1px solid #ccc;
	text-indent:24px;
}
#userName{
	width:280px;
	background-image:URL(../images/uses.png);
	background-repeat:no-repeat;
	background-position:2px center;
}
#password{
	width:280px;
	background-image:URL(../images/lock.png);
	background-repeat:no-repeat;
	background-position:2px center;
}